.md-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display:block;
  }

  #app-title {
      text-align:center;
      margin:0 auto;
      display:block;
  }

  .form-row .col-auto {
      margin-top:50%;
      margin-left: 10%;
  }

   .list-group {
      margin-left:10%;
  }

  .px-2 {
    padding-left: 5 !important;
    padding-right: 5 !important;
  }